div {
    height: 500px;
    margin: 6px;   
  }
  
  .container {
    background: white;
    width: 100%
  }
  
  .box1 {
    background: palevioletred;
    float: left;
    width: 69%
    
  }
  .box2 {
    background: skyblue;
    float: left;
    width:29%
  }